body,html {
			margin:0;
            width: 850px;
            margin-left: auto;
            margin-right:auto;
			color:#ffffff;
			background: #1c1c1c;
            font-family: Helvetica, sans-serif;
		}
a:link {
            color: #ccff66;
            text-decoration: none;
        }
a:visited {
            color: #cc99ff;
            text-decoration: none;
        }
#header {
			display:none;				
		}
h1 {
			color: white;
			font-size: 200%;
			padding: 30px 0px 10px 0px;
			margin-bottom: 5px;
            background-repeat: no-repeat;
			font-weight: bolder;
			font-family: Georgia, "Times New Roman", Times, serif;
		}
h2 {
			margin:0 0 lem;
			color: white;
			font-size: 120%;
			padding: 0px 0px 0px 0px;
			background-repeat: no-repeat;
			font-weight: bolder;
			font-family: Helvetica, sans-serif;
		}
#banner {
		    padding: 190px 0px 0px 0px;
			background-image: url(./img/lichenheader.jpg);
		}

ul {
			margin:0;
            color:#ffffff;
			padding-left: 60px;
			list-style:disc;

		}
li {
			margin:0;
			padding-left:10px;
		}
